<component name="ArtifactManager">
  <artifact type="exploded-war" name="web">
    <output-path>$PROJECT_DIR$/web</output-path>
    <root id="root">
      <element id="javaee-facet-resources" facet="Home_Big_01/web/Web" />
      <element id="directory" name="WEB-INF">
        <element id="directory" name="classes">
          <element id="module-output" name="Home_Big_01" />
        </element>
        <element id="directory" name="lib">
          <element id="library" level="project" name="Spring" />
        </element>
      </element>
    </root>
  </artifact>
</component>